<!------------------NAV BAR----------------------------->
html{
    scroll-behavior: smooth;
}
.green
{
    background-color: #1e1f1e;
}
.logo-time{
  height: 6em; 
  width: 14em; 
  margin-top: 1%; 
  margin-bottom: 1%;
}
div.redline {
  background: linear-gradient( to right,#1d03c8 50%, rgb(0, 247, 234)90%);
  height: 60px; 
  align-items: center; 
  flex-direction: column; 
  display:flex; 
  justify-content: center;
  border-bottom: 2px solid #000000;
  border-top: 2px solid #000000;
}
div.containera
{
  font-family: Raleway;
  color: white;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
  
  
}

div.containera a
{
    color: #ffffff;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
div.borderXwidth a:before, div.borderXwidth a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 0.1em;
    content: '';
    background: #fafafa;
    transition: all 0.3s;
}

div.borderXwidth a:before
{
    left: 0px;
    top: 0px;
}

div.borderXwidth a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderXwidth a:hover:before, div.borderXwidth a:hover:after
{
    opacity: 1;
    width: 100%;
}
.navbar-fixed-top {
    position: fixed !important;
    top: 0;
    width: 100%;
}